/* Your Website Styles */

body {
  background: url("../img/bg.png");
  color: #333;
  
  font-size: 1em%;

}

div{
  width:100%;
  height: 100%;
  
}

a img {
  border: 10px solid #fff;
  width: 100%;
  max-width: 100%;
  margin-bottom: 10%;
  background: white;
  border-radius: 6px;
  cursor: pointer;
  transition-property: background, border-radius;
  transition-duration: .2s, 1s;
  transition-timing-function: linear, ease-in;  
}

 a img:hover {
  background: #ff7b29;
  border-radius: 50%;
}
   a img:hover .item-2 {
  background: white;
}



header h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 5em;
  text-align: center;
  
}
header h1:hover {
  background:  #66FFCC;
  font-size: 8em;
}
/* nav */

nav li {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  text-align: center;
  padding-left: 10%;
  display: inline;
  float: center;
  list-style: none;
  margin: 0 5% 0 5%;
  text-align: center;
  
}


nav a:link, 
nav a:visited {
  color: #333;
  padding: 10px 10px 10px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover, 
nav a:active {
  color: #FF6600;
  text-transform: -3px;
  letter-spacing: 1em;
  font-size: .5em;
}
/* =========
#bio, #resume, #facebook{
  background: grey;
  text-align: center;
  position: relative;
  border-radius: 10px;
  padding: 2%;
  width: 50%;
  height: 1%;
  padding-left: 10%;

}
/* =========

/* end nav*/

/* Gallery Stying */
.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
  width:50%; 
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  position: relative;
}
.gallery .item {
  height: 400px;
  overflow: hidden;
  text-align: center;
  background: #4d87e2;
}
.gallery .controls {
  position: absolute;
  bottom: -120px;
  width: 100%;
  text-align: center;
}

.gallery .controls img {
  border: 5px solid #000;
}

.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}


/* Show Grid */





/* =========
media queries 
========= */

/* =========
large destop 
========= */
@media screen and (max-width:1260px) and (min-width: 1200px) {
  body{
    background: red;
  }
}

/* =========
destop 
========= */

@media screen and (max-width: 1000px){
  body{
    background: green;
  }
}

/* =========
tablet
========= */

@media screen and (max-width: 800px){
  body{
    background: yellow;
      }

}


/* =========
mobile
========= */
@media screen and (max-width: 480px){
  body{
    background: blue;
  }

 



  blockquote{
    font-size: 1em;
  }

  article.grid_12 section {
    float: none;
    width: 100%;
    text-align: center;
  }

  article.grid_12 p{
    text-align: left;
  }

  section img{
    width: 50%;
  }
  footer p.grid_6{
    float: none;
    width: 100%;
    margin: 2% 0;
    font-size: 1em;
  }

  }







}
